name: Unit and integration tests

on: 
  pull_request:
    branches:
      - main

jobs:
  tests:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    
    steps:
    - uses: actions/checkout@v4

    - name: Install dependencies
      run: make install
      
    - name: Run tests
      env:
        ARCOSPARSE_ECMWF_TOKEN: ${{ secrets.ARCOSPARSE_ECMWF_TOKEN }}
      run: make test