name: Unit and integration tests

on: 
  pull_request:
    branches:
      - main

jobs:

  tests:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Install dependencies
      run: pip install poetry && poetry install

    - name: Run tests
      run: make test